OTSubmitQuery/bin/Debug/staging/OTSubmitQuery/OTSubmitQuery.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppState": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "State of the Logic App"
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "hra_azuretables_Connection_Name": {
      "type": "string",
      "defaultValue": ""
    },
    "hra_azuretables_Connection_Name_DisplayName": {
      "type": "string",
      "defaultValue": ""
    },
    "rsgname": {
      "type": "string",
      "defaultValue": ""
    },
    "oms-Workspace-Name": {
      "type": "string",
      "defaultValue": ""
    },
    "sharedrsgname": {
      "type": "string",
      "defaultValue": ""
    },
    "childLAName": {
      "type": "string",
      "defaultValue": ""
    },
    "azuretables_1_storageaccount": {
      "type": "string",
      "metadata": {
        "description": "The name of your storage account"
      },
      "defaultValue": ""
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "state": "[parameters('logicAppState')]",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "InitialiseSchedularVariables": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "listOfValues",
                    "type": "Array",
                    "value": [
                      "@formatDateTime(utcNow(),'yyyy-MM-dd')",
                      "@triggerBody()['QueryParitionKey']",
                      "@formatDateTime(utcNow(),'yyyyMMddhhmmss')",
                      "@triggerBody()['QueryRowKey']"
                    ]
                  }
                ]
              },
              "runAfter": {},
              "trackedProperties": {
                "Entity": "@{action()['inputs']['variables']?[3]}"
              }
            },
            "TaleoMsgKeyInitialisation": {
              "inputs": {
                "variables": [
                  {
                    "name": "TaleoMsgKey",
                    "type": "String",
                    "value": "NULL"
                  }
                ]
              },
              "runAfter": {
                "InitialiseSchedularVariables": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable"
            },
            "GetSubmitQuery": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Tables/@{encodeURIComponent('TaleoServiceMetaData')}/entities(PartitionKey='@{encodeURIComponent(variables('listOfValues')?[1])}',RowKey='@{encodeURIComponent(variables('listOfValues')?[3])}')"
              },
              "runAfter": {
                "TaleoMsgKeyInitialisation": [
                  "Succeeded"
                ]
              }
            },
            "FetchLastSuccessRun": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Tables/@{encodeURIComponent('TaleoServiceSuccessRun')}/entities(PartitionKey='@{encodeURIComponent(variables('listOfValues')?[1])}',RowKey='@{encodeURIComponent(variables('listOfValues')?[3])}')"
              },
              "runAfter": {
                "GetSubmitQuery": [
                  "Succeeded"
                ]
              }
            },
            "GetMsgStatusQuery": {
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/Tables/@{encodeURIComponent('TaleoServiceMetaData')}/entities(PartitionKey='@{encodeURIComponent('getMessageByKey')}',RowKey='@{encodeURIComponent('getMessageByKey')}')"
              },
              "runAfter": {
                "FetchLastSuccessRun": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection"
            },
            "UpdateSubmitQueryWithValues": {
              "type": "AppendToArrayVariable",
              "inputs": {
                "name": "listOfValues",
                "value": "@replace(replace(replace(body('GetSubmitQuery')?['ServiceBody'],'??MsgKey??',formatDateTime(utcNow(),'yyyyMMddHHmmss')),'??FromDate??',body('FetchLastSuccessRun')?['SuccessRunDate']),'??ToDate??',formatDateTime(addDays(addHours(utcNow(),2,'yyyy-MM-dd'),-1),'yyyy-MM-ddT23:59:59'))"
              },
              "runAfter": {
                "GetMsgStatusQuery": [
                  "Succeeded"
                ]
              }
            },
            "CallTaleoService": {
              "inputs": {
                "body": {
                  "ServiceBody": "@{variables('listOfValues')?[4]}",
                  "ServiceContentType": "@body('GetSubmitQuery')?['ServiceContentType']",
                  "ServiceMIMEVersion": "@body('GetSubmitQuery')?['ServiceMIMEVersion']",
                  "ServiceMethod": "@body('GetSubmitQuery')?['ServiceMethod']",
                  "ServiceSOAPAction": "@body('GetSubmitQuery')?['ServiceSOAPAction']",
                  "ServiceURI": "@body('GetSubmitQuery')?['ServiceURI']"
                },
                "host": {
                  "triggerName": "manual",
                  "workflow": {
                    "id": "[concat(subscription().id, '/resourceGroups/', parameters('rsgname'),'/providers/Microsoft.Logic/workflows/',parameters('childLAName'))]"
                  }
                }
              },
              "runAfter": {
                "UpdateSubmitQueryWithValues": [
                  "Succeeded"
                ]
              },
              "trackedProperties": {
                "messageId": "@formatDateTime(utcNow(),'yyyyMMddhhmmss')"
              },
              "type": "Workflow"
            },
            "SetTaleoMsgKey": {
              "inputs": {
                "name": "TaleoMsgKey",
                "value": "@json(xml(replace(replace(replace(string(actionBody('CallTaleoService')),'IntegrationMessage','a:IntegrationMessage'),'xmlns=','xmlns:a='),'MessageKey','a:MessageKey')))['soap:Envelope']['soap:Body']['ns1:submitLargeDocumentResponse']['a:IntegrationMessage']['a:MessageKey']"
              },
              "runAfter": {
                "CallTaleoService": [
                  "Succeeded"
                ]
              },
              "type": "SetVariable"
            },
            "CallTaleoServiceForCorelationKey": {
              "inputs": {
                "body": {
                  "ServiceBody": "@{replace(body('GetMsgStatusQuery')?['ServiceBody'],'??',variables('TaleoMsgKey'))}",
                  "ServiceContentType": "@body('GetMsgStatusQuery')?['ServiceContentType']",
                  "ServiceMIMEVersion": "@body('GetMsgStatusQuery')?['ServiceMIMEVersion']",
                  "ServiceMethod": "@body('GetMsgStatusQuery')?['ServiceMethod']",
                  "ServiceSOAPAction": "@body('GetMsgStatusQuery')?['ServiceSOAPAction']",
                  "ServiceURI": "@body('GetMsgStatusQuery')?['ServiceURI']"
                },
                "host": {
                  "triggerName": "manual",
                  "workflow": {
                    "id": "[concat(subscription().id, '/resourceGroups/', parameters('rsgname'),'/providers/Microsoft.Logic/workflows/',parameters('childLAName'))]"
                  }
                }
              },
              "runAfter": {
                "SetTaleoMsgKey": [
                  "Succeeded"
                ]
              },
              "type": "Workflow"
            },
            "SaveCallStatus": {
              "type": "ApiConnection",
              "trackedProperties": {
                "OurTalentMsgKey": "@{action()['inputs']['body']['TaleoMessageKey']}",
                "OurTalentCorelationKey": "@{action()['inputs']['body']['TaleoCorelationKey']}"
              },
              "inputs": {
                "body": {
                  "TaleoCorelationKey": "@json(xml(string(actionBody('CallTaleoServiceForCorelationKey'))))['soap:Envelope']['soap:Body']['ns1:getMessageByKeyResponse']['IntegrationMessage']['CorrelationKey']",
                  "TaleoMessageKey": "@variables('TaleoMsgKey')",
                  "TaleoMessageStatus": "",
                  "TaleoQueryEntity": "@variables('listOfValues')?[3]",
                  "TransformMap": "@triggerBody()['TransformMap']"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuretables']['connectionId']"
                  }
                },
                "method": "patch",
                "path": "/Tables/@{encodeURIComponent('TaleoServiceCallStatus')}/entities(PartitionKey='@{encodeURIComponent(variables('listOfValues')?[2])}',RowKey='@{encodeURIComponent(variables('listOfValues')?[2])}')"
              },
              "runAfter": {
                "CallTaleoServiceForCorelationKey": [
                  "Succeeded","Failed"
                ]
              }
            },
            "Response": {
              "inputs": {
                "body": "@utcNow()",
                "statusCode": "@actionoutputs('SaveCallStatus')['statusCode']"
              },
              "kind": "Http",
              "runAfter": {
                "SaveCallStatus": [
                  "Succeeded"
                ]
              },
              "type": "Response"
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "inputs": {
                "schema": {
                  "properties": {
                    "QueryParitionKey": {
                      "type": "string"
                    },
                    "QueryRowKey": {
                      "type": "string"
                    },
                    "TransformMap": {
                      "type": "string" 
                    }
                  },
                  "type": "object"
                }
              },
              "kind": "Http",
              "type": "Request"
            }
        },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuretables": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', parameters('hra_azuretables_Connection_Name'))]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('hra_azuretables_Connection_Name'))]",
                "connectionName": "[parameters('hra_azuretables_Connection_Name')]"
              }
            }
          }
        }
      },
      "resources": [
        {
          "name": "[concat('Microsoft.Insights/service')]",
          "type": "providers/diagnosticSettings",
          "apiVersion": "2015-07-01",
          "dependsOn": [
            "[concat('Microsoft.Logic/workflows/', parameters('logicAppName'))]"
          ],
          "properties": {
            "workspaceId": "[resourceId(parameters('sharedrsgname'),'Microsoft.OperationalInsights/workspaces', parameters('oms-Workspace-Name'))]",
            "logs": [
              {
                "category": "WorkflowRuntime",
                "enabled": true,
                "retentionPolicy": {
                  "days": 30,
                  "enabled": true
                }
              }
            ],
            "metrics": [
              {
                "timeGrain": "AllMetrics",
                "category": "AllMetrics",
                "enabled": true,
                "retentionPolicy": {
                  "enabled": true,
                  "days": 30
                }
              }
            ]
          }
        }
      ],
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('hra_azuretables_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('hra_azuretables_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azuretables')]"
        },
        "displayName": "[parameters('hra_azuretables_Connection_Name_DisplayName')]",
        "parameterValues": {
          "storageaccount": "[parameters('azuretables_1_storageaccount')]",
          "sharedkey": "[listKeys(resourceId(parameters('sharedrsgname'),'Microsoft.Storage/storageAccounts', parameters('azuretables_1_storageaccount')),providers('Microsoft.Storage', 'storageAccounts').apiVersions[0]).keys[0].value]"
        }
      }
    }
  ],
  "outputs": {}
}